<%= form_for @question, :html => { :class => '' } do |f| %>
    <label> Question </label>
    <p> <%= @question.xml if @question.xml %> </p>
    <label> Author </label>
    <p> <%= User.find_by_id(@question.user_id).name if @question.user_id %> </p>
    <div class="generate-question form-actions">
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                questions_path, :class => 'btn pull-right' %>
      <%= f.submit nil, :class => 'btn btn-primary pull-left' %>
    </div>
<% end %>
