= simple_form_for(@question, :html => {:class => 'form-vertical' }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :xml
    = f.input :created_at
    = f.association :tags

  .form-actions
    = f.button :submit
