= simple_form_for(@question, :html => {:class => 'form-vertical' }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :xml, :label => "XML"
    = f.association :tags
    = f.input :created_at, :label => "Created"
    = f.button :submit
