%h3 Quiz

%table.table.table-striped
  %tr
    %th XML
    %th Created
    %th Tags
    %th

  - @questions.each do |question|
    %tr
      %td= question.xml
      %td= format_date(question.created_at)
      %td= question.tags
      %td
        = link_to 'View', question, :class => 'btn btn-mini'
        = link_to 'Edit', edit_question_path(question), :class => 'btn btn-mini'
        = link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini'

%br

.btn= link_to 'New Quiz', new_question_path
