= simple_form_for(@user_group) do |f|
  = f.error_notification

  .form-inputs
    = f.input :owner_user_ids, :collection => @users, :input_html => { :multiple => true }, :blank => false
    = f.input :viewer_user_ids, :collection => @users, :input_html => { :multiple => true }, :blank => false

  .form-actions
    = f.button :submit
