= simple_form_for(@user_group) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.association :users, label: "Members", :collection => @users, :input_html => { :multiple => true }, :blank => false
    %h5 User With Privileges
    = f.input :owner_user_ids, label: "Owners", :collection => @users, :input_html => { :multiple => true }, :blank => false
    = f.input :viewer_user_ids, label: "Viewers", :collection => @users, :input_html => { :multiple => true }, :blank => false
    = f.submit 'Save', :class => 'btn btn-primary'
