%h3 User Groups

.btn= link_to 'New User group', new_user_group_path

%br
%br

%table.table.table-striped
  %tr
    %th
    %th
    %th
    %th

  - @user_groups.each do |user_group|
    %tr
      %td= user_group.name
      %td= link_to 'Show', user_group
      %td= link_to 'Edit', edit_user_group_path(user_group)
      %td= link_to 'Destroy', user_group, method: :delete, data: { confirm: 'Are you sure?' }

%br
