%h3 Users
.row
  .span12
    %table.table.table-striped.table-condensed
      %thead
        %tr
          %th Name
          %th Email
          %th Date of Registration
          %th Role
          %th
      %tbody
        - @users.each do |user|
          %tr
            %td= link_to user.name, user
            %td= user.email
            %td= format_date(user.created_at)
            %td
              = user.roles.first.name.titleize unless user.roles.first.nil?
              %a.btn.index-action.pull-right{"data-toggle" => "modal", :href => "#role-options-#{user.id}", :type => "button"} Change Role
              = render user
            %td= link_to("Delete", user_path(user), :data => { :confirm => "Are you sure you want to permanently delete this user?" }, :method => :delete, :class => 'btn btn-danger index-action pull-right') unless user == current_user
