%h3 Tags

= link_to 'Create Tag', new_tag_path, :class => 'btn btn-primary'

%br
%br

%table.table.table-striped
  %tr
    %th Name
    %th

  - @tags.each do |tag|
    %tr
      %td= tag.name
      %td
        = link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger index-action pull-right'
        = link_to 'Edit', edit_tag_path(tag), :class => 'btn btn-info index-action pull-right'
        = link_to 'View', tag, :class => 'btn btn-primary index-action pull-right'    
%br