%h3 Attempts

= link_to 'Create Attempt', new_attempt_path, :class => 'btn btn-primary'

%br 
%br

%table.table.table-striped
  %tr
    %th Answer
    %th User
    %th Question
    %th Correct?
    %th Created
    %th

  - @attempts.each do |attempt|
    %tr
      %td= link_to attempt.answer, attempt
      %td= attempt.user.name
      %td= attempt.question.xml
      %td= attempt.is_correct
      %td= format_date(attempt.created_at)
      %td
        = link_to 'Destroy', attempt, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger index-action pull-right'
        = link_to 'Edit', edit_attempt_path(attempt), :class => 'btn btn-primary index-action pull-right'
%br