= link_to 'Back to Attempts', attempts_path
\&nbsp; &#xb7; &nbsp;
= link_to 'Edit Attempt', edit_attempt_path(@attempt)

%h3 View Attempt

%dl
  %dt Question
  %dd= @attempt.question.xml

  %dt User
  %dd= @attempt.user.name

  %dt Answer
  %dd= @attempt.answer

  %dt Correct?
  %dd= @attempt.is_correct

  %dt Created
  %dd= format_date(@attempt.created_at)

 