%h3 Attempt

= link_to 'Edit', edit_attempt_path(@attempt)

%dl
  %dt Question
  %dd= @attempt.question.xml

  %dt User
  %dd= @attempt.user.name

  %dt Answer
  %dd= @attempt.answer

  %dt Correct?
  %dd= @attempt.is_correct

  %dt Created
  %dd= format_date(@attempt.created_at)

 