= link_to 'Edit', edit_attempt_path(@attempt)
\&nbsp;|&nbsp;
= link_to 'Back to Attempts', attempts_path

%dl
  %dt Answer
  %dd= @attempt.answer

  %dt Correct?
  %dd= @attempt.is_correct

  %dt Created
  %dd= format_date(@attempt.created_at)

  %dt Question
  %dd= @attempt.question.xml

  %dt User
  %dd= @attempt.user.name