<!DOCTYPE html>
<html>
<head>
  <title>Store</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    $(window).on('load', function(e) { 
    if (window.location.hash == '#_=_')
        window.location.hash = '';
        history.pushState('', document.title, window.location.pathname);
        e.preventDefault(); // no page reload
    });
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Question Bank</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Answer Questions", questions_path%></li>
            <li><%= link_to "Author Questions", questions_path %></li>
            <li><a href="#generate-quiz-modal" role="button" data-show="false" data-toggle="modal">Generate Quiz</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="span9"><%= yield %></div>
      <div class="span3">
        <h2>About Us</h2>
       	JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE
       	JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE
       	JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE
       	JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE
       	JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE
       	JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE
       	JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE JOE
      </div>
    </div>
  </div>

  <div class="modal hide" id="generate-quiz-modal" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Generate a Quiz</h3>
    </div>
  <div class="modal-body">
    <form action="/questions/generate_quiz" class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="inputEmail">Number of Questions</label>
        <div class="controls">
          <input type="text" id="inputEmail" placeholder="number">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              Tags
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" style="z-index:1000">
              <a href="#">tags</a>
              <a href="#">tags</a>
              <a href="#">tags</a>
            </ul>
          </div>
        </div>
      </div>
    </div>
      <div class="modal-footer">
        <button class="btn pull-left" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-primary">Submit</button>
      </div>
    </div>
    </form>
  </div>
</div>
</body>
</html>